@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.info-heading {
    font-family: 'Pacifico', cursive;
    font-size: 1.8em;
    font-weight: normal;
}


body {
    font-family: Arial, sans-serif; 
    background-color: #c6d4d1; 
    margin: 0; 
    padding: 0;
}

h1 {
    text-align: center; 
    background-color: #2C3E50;
    color: #ffa600d5;
    padding: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#nav-list {
    list-style: none; 
    display: flex; 
    background-color: #333; 
    padding: 5px; 
    margin: 0;
    font-weight: bold;
    font-size: large;
}

.nav-item {
    margin-right: 30px; 
    padding: 5px;
}

.nav-item:hover {
    background-color: #555; 
    border-radius: 5px; 
    padding: 5px;
    transition: background-color 0.3s;
}

a {
    color: #fff; 
    text-decoration: none;
    padding: 5px;
}

.upload-form {
max-width: 600px;
margin: 20px auto;
padding: 20px;
background-color: #fafafa;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upload-form input[type="file"] {
width: 95%;
padding: 15px;
border: 1px solid #ddd;
border-radius: 10px;
}
.upload-form input[type="submit"] {
background-color: #1f6600;
color: white;
padding: 15px;
border: none;
border-radius: 10px;
}

.upload-form input[type="submit"]:hover {
background-color: #3a536b;
cursor: pointer;
}

#log_type {
    margin-bottom: 10px;
}

table {
    margin-left: 10%;
    margin-right: 10%;
    width: 80vw;
    display: block;
    overflow-x: scroll;
    border-collapse: collapse;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
background-color: #009879;
color: #ffffff;
text-align: left;
}

th, td {
padding: 12px 15px;
text-wrap: wrap;
}

tbody tr {
border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
background-color: #f3f3f3;
}

tbody tr:last-of-type {
border-bottom: 2px solid #009879;
}

tbody tr:hover {
background-color: #f1fff8;
cursor: pointer;
}
